@font-face {
    font-family: myNewFont;
    src: url(newFont.ttf) format('ttf');
}


body {
    min-width: 100%;
    height: 100vh;
    background-color: #16161a;
    font-family: 'Gloria Hallelujah', cursive;
   
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    font-size: 3rem;
}

.mainBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    position: relative;
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.spaces {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    grid-gap: 1rem;
    padding: 20px;
}

.space {
    color: black;
    background-color:  #2cb67d;
    font-size: 4rem;
    border-radius: 20px;
    transition: 0.1ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#show-winner {
    display: none;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    padding: 2rem;
    transform: translate(-50%, -50%);
}



#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #16161a;
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    transition: 200ms ease-in-out;
}

#show-winner {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    padding: 2rem;
    transform: translate(-50%, -50%) scale(0);
    color: black;
    text-align: center;
    transition: 0.1s;
}

#show-winner.active {
    transform: translate(-50%, -50%) scale(1);
}

#show-winner h1 {
    font: 3rem;
    color: white;
}