body {
    min-width: 100%;
    height: 100vh;
    background-color: #fef6e4;
    font-family: sans-serif;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #001858;
}

.title {
    font-size: 3rem;
}